.stat-card{
    background:white;
    border-radius:15px;
    padding:20px;
    display:flex;
    align-items:center;
    gap:20px;

    box-shadow:0px 4px 10px rgba(0,0,0,0.1);

    transition:all 0.3s ease;
    cursor:pointer;
}

.stat-card:hover{
    transform:translateY(-8px);
    box-shadow:0px 15px 30px rgba(0,0,0,0.18);
}

.stat-card:active{
    transform:scale(0.97);
    box-shadow:0px 5px 15px rgba(0,0,0,0.2);
}

.stat-icon{
    font-size:30px;
    transition:all 0.3s ease;
}

.stat-card:hover .stat-icon{
    transform:scale(1.2);
}

.stat-card:active .stat-icon{
    transform:scale(1.1);
}